body {
    height: 100vh;
    margin: 0;
    background-color: beige ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
  }

 #title {
    display: flex;
    justify-content: center;
 }

 .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5vw;
 }

 .text-box {
  width: 4.5vw;
  font-size: 1vw;
 }

 .whiteboard {
  display: grid;
  width: 80vh;
  height: 70vh;
  border: solid black;
  margin-top: 1vh;
  margin-bottom: 1vh;
 }
 
.footer {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.github-text {
  background-color: black;
  width: 100vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: red;
  font-size: 0.5em;
}
